/* www.vih.dk @ lars@vih.dk */

#skip-link {
	display: none;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*font: 85%/1.6em "Trebuchet MS", arial, sans-serif;*/
    font: 85%/1.6em "Trebuchet MS", arial, sans-serif;
    /*line-height: 1.6em;*/
    background: black;

}

h1 {
    font-size:2em;
}
h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.25em;
}
h4 {
    font-size:1em;
}

table {
    width: 90%;
    font-size: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.3em;
    text-align: left;
    vertical-align: top;
}


caption {
    font-weight: bold;
    background: #ddd;
    padding: 0.4em;
}

th {
    white-space:nowrap;
}

form table td, form table th {
    padding: 0.3em;
}
form table {
    width: 98%;
}

fieldset {
    padding: 0.5em;
}

input, select, textarea {
    font-size:1em;
}

label {
    /* display: block; */
}

#content-main  a {
    text-decoration: none;
    color: blue;
    background-color: white;
}

#content-main  a:hover {
    text-decoration: underline;
}

#content-main a:visited {
    color: blue;
    background-color: white;
}

li {
    list-style: square;
}

#container {
    background: black;
    margin: 0 0 0 40px;
    overflow: hidden;
}

#branding {
    width: 95%;
    /*background: black url(http://elevforeningen.vih.dk/gfx/logo/vih75x151.gif) no-repeat 25px 0.3em;*/
    height: 75px;
    border-left: 1px solid white;

}

#branding h1 {
    visibility: hidden;
    margin: 0;
    padding: 0;

}
#branding #branding-logo {
    margin: 0 20px;
}
#branding #branding-logo a img  {
    border: none;
}

#navigation-skip {
    display: none;
}

#navigation-main {
    margin-top: 0.5em;
}

#navigation-main {
    width: 99.9%;
    float: left;
    font-size: small; /* could be specified at a higher level */
    margin: 0;
    padding: 0;
    background:  #D61031;
    border-left: 1px solid white;
}

#navigation-main ul {
    margin: 0 0 0 30px;
    padding: 0;
}

#navigation-main ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

#navigation-main a {
    float: left;
    color: white;
    line-height: 20px;
    font-weight: bold;
    margin: 0 2em 0 0;
    text-decoration: none;
    padding: 3em 0 0.3em 0;
    border-bottom: 4px solid #D61031;
}

#navigation-main a:hover, #navigation-main li#current a:hover {
    border-bottom: 4px solid #D61031;
    color: white;
    text-decoration: underline;
    /* background: #a5003D; */
}

#navigation-main li#current a {
    border-bottom: 4px solid #D61031;
    color: white;
    text-decoration: underline;
    /* background: #a5003D; */

}

#navigation-section {
    position: absolute;
    top: 40px;
    right: 60px;
}

#navigation-section li {
    display: inline;
    padding-right: 1em;
}

#navigation-section a {
    color: #ddd;
    background: black;
    font-size: 0.9em;
    text-decoration: none;
}

#navigation-section a:hover{
    text-decoration: underline;
}

#content {
    width: 95%;
    /* width: 100%; */
    clear: both;
    overflow: hidden;
    border-left: 1px solid white;
    /* border-bottom: 1px solid #D61031;

*/
}

#content-main {
    background: white;
    margin: 0;
    float: left;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;
    /*border-bottom: 1px solid #D61031;*/
    width: 100%;
}

#content-main *, #content-main ul, #content-main caption, #content-main table {
    margin-left: 30px;
    margin-right: 30px;

}

#content-main * * {
    margin-left: 0;
    margin-right: 0;
}

#content-main .dtend, #content-sub .dtend {
    margin: 0 1em 1em 0;
}

#frontpage #content #content-main {
    background-image: url(gfx/images/widepics/hangingout1.jpg);
    background-repeat: no-repeat;
    padding-top: 190px;
    /*padding-top: 190px;*/
}

#content-sub {
    margin: 0;
    /*margin-right: 0 0 0 30px;*/
    padding-top: 2em;
}


#content-sub * {
    margin-left: 30px;
    margin-right: 30px;

}

#content-sub * * {
    margin-left: 0;
    margin-right: 0;

}

/*prev prefixed with sidebar*/
#content-main {
    width: 69%;
    max-width: 690px;
    width:expression(document.body.clientWidth > 1050? "690px": "69%" );
    float: left;
    padding-bottom: 1000em;
    margin-bottom: -998em;
}
#content-main table {
    width: 90%;
}


#content-sub {
    float: left;
    width: 30.89%;

    /*border-left: 1px solid #eee;*/
    padding-bottom: 1000em;
    margin-bottom: -998em;
    background: black;
    /*background: #333;*/
    color: white;
    /* border-right: 1px solid white; */
    overflow: hidden;
}

#content-sub h2 {
    padding: 0.1em 0;
    border-bottom: 1px solid #ccc;
}
#content-sub a {
    color: white;
}

#content-sub a:hover {
    text-decoration: underline;
}
#content-sub img {
    /* http://www.bloggerforum.com/modules/xoopsfaq/index.php?cat_id=8 */
    max-width: 175px;
    width: expression(this.width > 175 ? 175: true);

}


#content-sub a img:hover {
    border: 2px solid #D61031;
}

/*endsidebar*/

#siteinfo {
    width: 95%;
    clear: both;
    /*border-top: 1px solid #D61031;*/
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    border-left: 1px solid white;

}

#siteinfo #siteinfo-legal {
    margin: 0 0 0 30px;
    padding-top: 0.5em;
    padding-bottom: 1em;
    /*text-align: center;*/
}


#siteinfo a {
    color: white;
    background: black;
}

/* forside */

#frontpage #teaser {
    /*background-repeat: no-repeat;*/
    margin-bottom: 3em;
    /*background-position: top center;*/
    /*padding-top: 350px;*/
}

#frontpage #teaser h1 {
    /*clear: both;*/
}

#frontpage #teaser p {
    /*font-size: 1.4em;*/
    /*color: #aaa;*/
    /*line-height: 1.5em;*/
    /*padding-right: 1em;*/
    /*clear: both;*/
}

#frontpage div#placeholder {
    clear: both;
    overflow: hidden;
    width: 90%;
    background: #eee;
}

#frontpage #search-form {
    /*padding: 1em 1em 30em 1em;*/
    /*margin: 0 0 -29em 0;*/
    /*width: 30%;*/
    /*float: left;*/
    /*background: #eee;*/
    color: white;
}

#frontpage #search-form fieldset {
    border: none;
    padding: 0;
}
/*
#frontpage div#placeholder #nav {
    list-style-type: none;
    margin: 0 0 -29em 0;
    padding: 1em 1em 30em 1em;
    width: 60%;
    float: right;
}

#frontpage div#placeholder #nav li a {
    background: none;
    color: black;
    padding: 1em;
    border: 6px solid #ddd;
    margin-right: 1em;
    width: 80px;
}
*/

#nav {
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}


/*#frontpage div#placeholder #nav li a {*/
#nav li a {
    display: block;
    float: left;
    margin: 0.3em;
    padding: 1em 0.5em 1em 0.5em;
    color: white;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    font-family: verdana, sans-serif;
    padding-top: 102px;
    padding-bottom: 5px;
    width: 90px;
    background-color: black;
}

#nav li a:visited {
    color: white;
    background-color: black;
}

/*#frontpage div#placeholder #nav li a:hover {*/
#nav li a:hover {
    border: 2px solid #D61031;
    text-decoration: underline;
}

/* news */

#content-main .vevent {
    clear: both;
}

#content-main  .vevent span {
    display: block;
    font-size: 10px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #fff 1px 1px 1px;
    color: #BDBDBD;
    margin-right: 1em;
    float: left;
    width: 35px;
    padding-top: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

#content-main  .vevent span .day {
    display: block;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -2px;
    text-indent: -3px;
    text-shadow: #bbb 2px 2px 0;
    color: #ddd;
    padding-bottom: 5px;
    margin: 0;
    border: none;
}

#content-main .vevent a  {
    text-decoration:none;
}

#content-main .vevent a:hover  {
    text-decoration: underline;
}

#content-main  .vevent h2.summary { /* h2 bruges ved nyhederne */
    margin-bottom: 0;
    padding: 0;
    font-size: 1em;
}

#content-main  .vevent .description {
    margin-top: 0;
    padding: 0;
}

#content-main  .vevent .dtend {
    background: white;

}

#content-main  table .vevent .dtend {
    background: white;
}


#content-sub .vevent span.dtend {
    text-transform: uppercase;
    font-size: 0.7em;
}

#content-sub .vevent h2.summary {
    border: none;
    background: transparent;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    margin-bottom: 0;

}

#content-sub a  {
    text-decoration: none;

}

#siteinfo-legal a  {
    text-decoration: none;

}

#siteinfo-legal a:hover  {
    text-decoration: underline;

}


#content-sub  a:hover  {
    text-decoration: underline;
}

#content-sub .vevent .description {
    font-size: 0.9em;
    margin: 0 0 1em 0;
    padding: 0;
}

li.rss {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.rss, li.rss a {
    font-size: small;
    font-variant: small-caps;
    background: url(gfx/icons/feed-icon-12x12.png)

no-repeat 0px 5px;
    padding-left: 18px;
}

a.rss:hover, li.rss a:hover {
    background: url(gfx/icons/feed-icon-12x12.png)

no-repeat 0px 5px;
}

.rss-big {
    background: url(gfx/icons/rss96px.png) no-repeat

1em 1em;
    padding: 3em 1em 1em 130px;
    height: 70px;
    border: 1px solid #ddd;
}

#content-sub img {
    display: block;
    margin: auto;
    /*
    border: 1px solid #ccc;
    padding: 5px;
    */
    margin-bottom: 0.5em;

    border: 2px solid white;
    padding: 0;

}

#content-main img {
    /*
    border: 1px solid #ccc;
    padding: 5px;
    */
    border: 2px solid black;
    padding: 0;

}

.dankort {
    background: url(http://elevforeningen.vih.dk/gfx/icons/dankort.jpg) no-repeat

right;
    padding-right: 30px;
}

/* hvad bruges denne til? */
span.caps {
    float: none;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
    color: black;
}

.notice {
    background: #ddd;
    padding: 0.5em;
}

.alert {
    background: #33B3CC;
    padding: 0.5em;
}

/* news featured */

#news-featured {
    clear: both;
    width: 100%;
    margin-bottom: 1em;
    overflow: hidden;
}

#news-featured .news-item {
    padding: 3%;
    margin-bottom: -37%;
    padding-bottom: 40%;
    color: white;
    font-size: 1.8em;
    width: 43%;
}

#news-featured .left { /* #006EB0 */
    background: #006EB0;
    float: left;
}

#news-featured .right { /* #004D7B */
    background: #004D7B;
    float: right;
}

#news-featured .news-item a {
    background: transparent;
    color: white;
}

#news-featured .news-item a:hover {
    background: transparent;
    color: white;
}

#news-featured .news-item .dtend {
    border: none;
    display: inline;
    float: none;
    color: white;
    width: auto;
    margin: auto;
}

#news-featured .news-item .day {
    display: inline;
    color: white;
    margin: auto;
    letter-spacing: 0;
    text-indent: 0;
}

.clear {
    clear:both;
}

blockquote {
    background:url(http://www.mandarindesign.com/images/quote.gif)

no-repeat;
    background-position:top left;
    padding-left:20px;
    text-align:justify;
}

blockquote p {
    background: url(http://www.mandarindesign.com/images/unquote.gif) no-repeat;
    background-position:bottom right;
    padding-right:5px;
}

#navigation-toplevel {
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;

}
#navigation-toplevel li {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
    margin-bottom: 1em;
}


.questions {
    padding: 0;
    margin: 0;
}

.questions li {
    list-style-type: none;
    padding: 0;
    margin 0;
    display: inline;
}

#frontpage ul.questions li a {
    display: block;
    width: 250px;
    background-color: black;
    font-size: 1.4em;
    background-color: black;
    color: white;
    margin: 0 1em 1em 0em;
    float: left;
    text-align: center;
    padding-bottom: 175px;
    padding-top: 5px;
    background-repeat: no-repeat;
    border: 3px solid white;
    background-position: bottom;
}

#frontpage ul.questions li a:hover {
    border: 3px solid #D61031;
}

#fag div.description {
    padding-left: 115px;
    background-repeat: no-repeat;
    min-height: 115px;
}

#fag h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}
#fag p {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}



